[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
tqdm = "*"
dash = "*"
dash-bootstrap-components = "*"
pandas = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.10"
